{% if settings.g1_full_width %}<div class="gridlock-fluid"><div class="row">{% endif %}
<div class="row homepage-section no-fouc">      
{% for i in (1..6) %}  
{% assign image='promo_image_' | append: i %}
{% assign image_grid_url='image_grid' | append: i | append: '_url' %}
{% assign image_grid_alt='image_grid' | append: i | append: '_alt' %}
{% assign image_grid_img_url='image_grid' | append: i | append: '.jpg' %}
{% assign image_grid_title='image_grid' | append: i | append: '_title' %}
{% assign image_grid_hidden='image_grid' | append: i | append: '_hidden' %} 
{% assign image_size = 'image-width-' | append: i %}
      {% if settings[image] %}
      <div class="homepage-promo {{settings[image_size]}} mobile-3 {% if settings.g1_full_width and settings[image_size] == full %} centered{% endif %}">
        <a href="{{settings[image_grid_url]}}" data-ga-cat="Homepage Tiles"  data-ga-order="{{i | plus : 6}}" data-ga-label="Tile">
          <img src="{{image_grid_img_url | asset_url}}" alt="{{settings[image_grid_title]}}">
          <div class="caption"><h3>{{settings[image_grid_title]}}</h3>
            <p>{{settings[image_grid_hidden]}}</p>
          </div>
        </a>
      </div>
      {% endif %}
{% endfor %}        
</div>
{% if settings.g1_full_width %}</div></div>
<div class="gridlock-fluid"><div class="row">
<div class="row homepage-section">      

      
      <div class="homepage-promo desktop-4 tablet-2 mobile-3 ">
        <a href="/collections/human-hair" data-ga-cat="Homepage Tiles"  data-ga-order="10" data-ga-label="Tile">
          <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/placeHolder.gif?v=1587744508" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/1410/9094/files/10.jpg?17772949613898789182" alt="" loading="lazy">
          <div class="caption"><h3></h3>
            <p>SHOP ALL HUMAN HAIR</p>
          </div>
        </a>
      </div>
      
  
      <div class="homepage-promo desktop-4 tablet-2 mobile-3 ">
        <a href="/collections/lace-front-wigs"data-ga-cat="Homepage Tiles"  data-ga-order="11" data-ga-label="Tile">
          <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/placeHolder.gif?v=1587744508" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/1410/9094/files/11.jpg?17772949613898789182" alt="" loading="lazy">
          <div class="caption"><h3></h3>
            <p>SHOP ALL LACE FRONT</p>
          </div>
        </a>
      </div>
      
      
      <div class="homepage-promo desktop-4 tablet-2 mobile-3 ">
        <a href="/collections/new-arrivals" data-ga-cat="Homepage Tiles"  data-ga-order="12" data-ga-label="Tile">
          <img src="https://cdn.shopify.com/s/files/1/1410/9094/files/placeHolder.gif?v=1587744508" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/1410/9094/files/12.jpg?17772949613898789182" alt="" loading="lazy">
          <div class="caption"><h3></h3>
            <p>SHOP ALL NEW ARRIVALS</p>
          </div>
        </a>
      </div>
      
      
</div>
</div></div>



<!-- end second row -->{% endif %}


