<div id="outer_container_411">
  <div id="page_411" class="desktop-12 tablet-6 mobile-3">
    <div class="img_top_center"><img src="{{'wigs411.png' | asset_url }}" /></div>
    <div class="desktop-6 tablet-6 mobile-12 centered center">
      <div class="p411-content">
      {{ page.content }}
      </div>
    </div>
  </div>
  <div style="clear:both">&nbsp;</div>
  <div id="tab-section" class="desktop-10 tablet-10 mobile-12 centered">
    <ul class="tabs">
      <li class="left current" data-tab="explore">EXPLORE THE WIG 411 GUIDE</li>
      <li class="right" data-tab="guide">GUIDE ME TO THE RIGHT WIGS</li>
    </ul>
    <div id="explore" class="tab-content current">
      <div id="guide-intro">
        <div class="desktop-8 mobile-12">
        	<p>Explore our 411 guide to learn more about wig care tips, tricks and more!</p>
        </div>
        <div class="desktop-4 mobile-12">
            <select class="explore-select">
              <option value="">SELECT A TOPIC</option>
              <option value="#care-tips">CARE TIPS</option>
              <option value="#wash-wig">HOW TO WASH A WIG</option>
              <option value="#expert-tips">EXPERT TIPS</option>
              <option value="#put-wig">HOW TO PUT ON A WIG</option>
              <option value="#return-policy">RETURN POLICY</option>
              <option value="#how-return">HOW TO RETURN</option>
              <option value="#return-eligible">RETURN PRODUCT ELIGIBILITY</option>
            </select>
        </div>
      </div>
      <hr id="sep-1" class="seperator-grey">
      <!-- NEW TOPIC:CARE TIPS -->
      <div id="care-tips" class="topic row">
		<div class="intro-control desktop-4 mobile-12">
        	<a onclick="toggleTopic('#topic-1','#care-tips','#sep-1','#sep-2')"><button class="explore-btn">+</button></a>
          	<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/CARE_TIPS.jpg?8114320302485001149" class="topic-main" />
          	<span style="clear:both;">&nbsp;</span>
        </div>
        <div class="desktop-8 mobile-12 intro-container">
          <h4 class="topic-title">CARE TIPS</h4>
          <p class="topic-intro">One of the keys to making your wigs, hairpieces and hair extensions look great longer, is proper care. Love your hair & it will love you back! Here are tips to help guide cleansing, conditioning and styling.</p>
        </div>
        <div class="spacer"></div>
        <div id="topic-1" class="topic-content desktop-12">
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'1_Cleaning_Conditioning.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
          		<h4 class="topic-title">CLEANSING &amp; CONDITIONING</h4>
          		<p>Synthetic hair and human hair each have special needs in order to maintain their optimal look and feel. Wigs, hair extensions & hairpieces made from human hair or synthetic hair endure intense chemical processing during production. Prolonging that supple movement crucial to a natural look is a must! To keep your wearable hair in tip top shape, you must use specially formulated hair care product designed to accommodate whichever fiber you are wearing or working with. There is no need to cleanse daily, but there are other steps necessary before or after each wear. Watch our video on How to Wash a Wig like an Expert. The simple tips and techniques outlined here can make all the difference!</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'2_Products.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
              	<h4 class="topic-title">PRODUCT</h4>
          		<p>While a regular gentle shampoo might seem like a good idea, you'll be MUCH better off with a product custom designed to meet the needs of highly processed hair. You'll protect your investment and keep your hair looking terrific. Unlike most wig care products, BeautiMark is it is free of toxic parabens. The BeautiMark Pure Care line, specially formulated for human hair, contains no color-stripping sulfates.</p>
          		<p>Expert Tip: If you are new to wearing hair, consider a kit that will outfit you with all that you need. Wigs.com loves the BeautiMark collection formulated specifically for wearable hair and free of parabens.</p>
            </div>          
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'3_Styling.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
            	<h4 class="topic-title">STYLING</h4>
          		<p>One of the greatest benefits of synthetic wigs is that they require very little maintenance and do not have to be restyled after every wash. With synthetic hair you’ll want to steer clear of intense heat -- even a short burst of heat from an oven can cause irreparable fiber damage. If style versatility or daily styling routine is something you enjoy, human hair or heat-friendly synthetic hair is the way to go.</p>
          		<p>As different occasions call for different priorities, many of our clients keep both human hair and synthetic hair in their wardrobe. Having backups means you’ll always have hair that is ready to wear.</p>
          		<p>Expert Tip: If you fall in love with a human hair or heat-friendly synthetic hair wig consider getting two. You can avoid overtaxing hair by keeping one styled curly and the other one straight.</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'4_hydrate.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
            	<h4 class="topic-title">HYDRATE</h4>
          		<p>While you will want to wash your wearable hair as infrequently as possible, it is critical that you hydrate daily with leave-in conditioner. Natural hair is kept hydrated with oils from the scalp. This, of course, does not happen with wigs or hair add-ons. These products will also protect hair prior to any heat styling.</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'5_MANIPULATE_FINISH.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
            	<h4 class="topic-title">MANIPULATE &amp; FINISH</h4>
          		<p>One of the greatest benefits of synthetic wigs is that they require very little maintenance and do not have to be restyled after every wash. With synthetic hair you’ll want to steer clear of intense heat -- even a short burst of heat from an oven can cause irreparable fiber damage. If style versatility or daily styling routine is something you enjoy, human hair or heat-friendly synthetic hair is the way to go.</p>
            </div>
          </div>
          <hr>
          <div class="exit">
            <a onclick="toggleTopic('#topic-1', '#care-tips','#sep-1','#sep-2')"><button class="explore-exit-btn">-</button></a>
          </div>
        </div>
      </div>
      <hr id="sep-2" class="seperator-grey">
      <!-- NEW TOPIC:HOW TO WASH A WIG -->
      <div id="wash-wig" class="topic row">
	  	<div class="intro-control desktop-4 mobile-12">
        	<a onclick="toggleTopic('#topic-2', '#wash-wig','#sep-2','#sep-3')"><button class="explore-btn">+</button></a>
          	<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/HOW_TO_WASH_A_WIG.jpg?16147697613404969995" class="topic-main" />
          	<span style="clear:both;">&nbsp;</span>
        </div>
        <div class="desktop-8 mobile-12 intro-container">
          <h4 class="topic-title">HOW TO WASH A WIG</h4>
          <p class="topic-intro">One of the keys to making your wigs, hairpieces and hair extensions look great longer, is proper care. Love your hair & it will love you back! Here are tips to help guide cleansing, conditioning & styling.</p>
          <p class="topic-intro">Find tips to wash your wig like a pro and make sure you:</p>
          <ul>
            <li>Keep your wig looking beautiful, longer</li>
            <li>Avoid stretching or damaging the cap</li>
            <li>Manage tangles and matting</li>
            <li>Reduce shedding and frizz</li>
            <li>Restore Luster</li>
          </ul>
          <p class="topic-intro">Need help with other wearable hair problems, ask one of our experts 1-800-581-2001.</p>
        </div>
        <div id="topic-2" class="topic-content desktop-12">
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'1_Detangle.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
          		<h4 class="topic-title">STEP 1: DETANGLE</h4>
          		<p>Before you wash, make sure you carefully detangle the hair using a wide tooth comb. Start from ends and work toward the root to decrease shedding.</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'2_Rinse.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
          		<h4 class="topic-title">STEP 2: RINSE</h4>
          		<p>Use lukewarm water and rinse from roots to ends. Do not soak as this can lead to tangling. Tip: If your wig is curly, try leaving the hairnet on.</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'3_Shampoo.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
            	<h4 class="topic-title">STEP 3: SHAMPOO</h4>
          		<p>Loosen shampoo in your hands and work through the hair. Distribute a small amount of shampoo evenly throughout the hair. Tip: Use circular motions to clean the cap.</p>
            </div>
          </div>
          <div class="row">
            <div style="clear:both;">
                <div class="topic-image desktop-2 mobile-3"><img src="{{'4A_Condition-Synthetic.jpg' | asset_url }}" /></div>
              	<div class="desktop-10 mobile-3">
                	<h4 class="topic-title">STEP 4: CONDITION</h4>
            		<p>A) For synthetic hair: Spray leave-in conditioner from the mid-shaft to the ends. Tip: Avoid the root or knots</p>
              	</div>
            </div>
            <div style="clear:both;">
              	<div class="topic-image desktop-2 mobile-3"><img src="{{'4b_Condition-Human-Hair.jpg' | asset_url }}" /></div>
              	<div class="desktop-10 mobile-3">
            		<p>B) For human hair: Leave in for a few minutes before rinsing. Do NOT apply conditioner to the root. Tip: If dry or damaged, use a deep conditioner.</p>
              	</div>          	
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'5_Squeeze-Towel-Blot.jpg' | asset_url }}" /></div>
            	<div class="desktop-10 mobile-3">
          			<h4 class="topic-title">STEP 5: RINSE</h4>
          			<p>Let lukewarm water flow in the same direction of the hair to avoid tangling. Squeeze and press the hair; do NOT wring. Tip: Towel blot to remove excess water.</p>
            	</div>
          </div>
          <div class="row">
            <div style="clear:both;">
            	<div class="topic-image desktop-2 mobile-3"><img src="{{'6A_Drying-Synthetic.jpg' | asset_url }}" /></div>
              	<div class="desktop-10 mobile-3">
          			<h4 class="topic-title">STEP 6: DRY</h4>
              		<p>A) For synthetic hair: Air dry on a folding wig stand Tip: Gently part the hair with a comb before wig dries</p>
              	</div>
            </div>
            <div style="clear:both;">
              <div class="topic-image desktop-2 mobile-3"><img src="{{'6B_Drying-Human-Hair.jpg' | asset_url }}" /></div>
              <div class="desktop-10 mobile-3">
              	<p>B) For human hair: Blow dry about 80% and then round brush until smooth.</p>
              </div>
          	</div>
          </div>
          <div class="video-wrap">
            <div class="videoWrapper">
                <iframe src="https://www.youtube.com/embed/JB0C5liIa1g?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe>
            </div>
          </div>
          <hr>
          <div class="exit">
            <a onclick="toggleTopic('#topic-2', '#wash-wig','#sep-2','#sep-3')"><button class="explore-exit-btn">-</button></a>
          </div>
        </div>
      </div>
      <hr id="sep-3" class="seperator-grey">
      <!-- NEW TOPIC: EXPERT TIPS -->
      <div id="expert-tips" class="topic row">
		<div class="intro-control desktop-4 mobile-12">
        	<a onclick="toggleTopic('#topic-3', '#expert-tips','#sep-3','#sep-4')"><button class="explore-btn">+</button></a>
          	<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/EXPERT_TIPS_660201cb-cc82-4119-93be-09949f88b278.jpg?14914045607497128751" class="topic-main" />
          	<span style="clear:both;">&nbsp;</span>
        </div>
        <div class="desktop-8 mobile-12 intro-container">
          <h4 class="topic-title">EXPERT TIPS</h4>
          <p class="topic-intro">Whether you're new to wigs or a pro, we gathered the best wig tips, and more. We are excited to share our years of training and expertise to make sure you have the best buying and wearing experience possible!</p>
          <p class="topic-intro">Walk tall, be confident and you will be able to pull off any look you want.</p>
        </div>
        <div id="topic-3" class="topic-content desktop-12">
          <div class="row">
          	<div class="topic-image desktop-2 mobile-3"><img src="{{'1_Confident_you.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
          		<h4 class="topic-title">1. BE CONFIDENT</h4>
          		<p>The right attitude is key to pulling off any hairstyle. If you are constantly worrying or fidgeting with your wig it won't look good. Own it! Walk tall, be confident and you will be able to pull off any look you want.</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'2_customize_your_cut.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
            	<h4 class="topic-title">2. CUSTOMIZE YOUR CUT</h4>
            	<p>Take your wig to your hairstylist to have bangs cut or trimmed, shaped or thinned out to remove excess bulk. A custom cut can make a world of difference. Think of your wig like a designer suit. Sure, you can wear it off the rack (or out of the box) and it can look good, but with a little tailoring it can look GREAT!</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'3_Invest_in_the_right_products.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
           		<h4 class="topic-title">3. INVEST IN THE RIGHT CARE PRODUCTS</h4>
          		<p>If you want to extend the life of your wig and keep it looking beautiful the proper care products are essential. Synthetic wigs require care products specifically formulated for synthetic hair. For human hair wigs, choose sulfate-free care products or products specifically formulated for color treated hair to keep the color looking vibrant, longer.</p>
          		<p>For Synthetic Hair, try the BeautiMark Wig Care Kit especially formualted for synthetic hair wigs, hairpieces and hair extensions.</p>
          		<p>For Human Hair, try the BeautiMark Pure Care System especially formulated for human hair wigs, hairpieces and hair extensions. Pure Care products are Sulfate and Paraben-free!</p>
            </div>          
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'4_Always_think_ahead.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
          		<h4 class="topic-title">4. ALWAYS THINK AHEAD</h4>
          		<p>You should always have two wigs ready to wear at all times.This way you always have something to wear when you are washing your wig and a back up if anything should happen to one. Rotating between wigs also helps to extend the life.</p>
          		<p>NEVER open the oven while wearing a synthetic wig!</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'5_Kitchen_tips.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
            	<h4 class="topic-title">5. KITCHEN TIPS</h4>
          		<p>If you love to cook here is a tip every wig wearer should know; NEVER open the oven while wearing a synthetic wig! The sudden burst of heat will ruin your wig; even the hot steam from a boiling pot of water can cause irreparable damage.</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'6_dial_down_the_shine.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
            	<h4 class="topic-title">6. DIAL DOWN THE SHINE</h4>
          		<p>Synthetic wigs with too much shine look fake and unnatural. To minimize shine, sprinkle a little hair powder on your wig, and then brush through for a more natural look. Try a wig wand! Each tap distributes a small amount of wig powder to magically reduce shine.</p>
          		<p>Add a headband, scarf or any hair accessory to create a personal touch.</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'7_Personalize_Your_Look.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
          		<h4 class="topic-title">7. PERSONALIZE YOUR LOOK</h4>
          		<p>Add a headband, scarf or any hair accessory to create a personal touch. Just because you are wearing a wig doesn't mean you have to wear it the same way all the time. Be creative.</p>
          		<p>Apply the wig then pull out small sections of your own hair along the sides and front using your fingers or a rattail comb.</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'8_Blend_in_your_own_hair.jpg' | asset_url }}" /></div>
          	<div class="desktop-10 mobile-3">
            	<h4 class="topic-title">8. BLEND YOUR OWN HAIR</h4>
          		<p>If your natural hair is somewhat close to your wig color try blending in your own hair along the hairline for a more natural look. Apply the wig then pull out small sections of your own hair along the sides and front using your fingers or a rattail comb.</p>
          		<p>What is going to look the most natural on you, is a style that looks like YOU!</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'9_Current_Style.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
          		<h4 class="topic-title">9. STAY CLOSE TO YOUR CURRENT STYLE</h4>
          		<p>Choose a wig close to your current hairstyle. What is going to look the most natural on you, is a style that looks like YOU! A familiar style will help you feel more confident and make the transition from wearing your own hair to wearing wigs a good experience. Experiment with subtle style variations, but stay within your comfort zone.</p>
            </div>          
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'10_Dont_Forget_Styling_Products.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
            	<h4 class="topic-title">10. DON'T FORGET STYLING PRODUCTS</h4>
            	<p>Give your hair a salon finish and define layers using styling products (Shaping Cream or Style & Hold Hair Spray works great on synthetic hair).</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'11_Know_Your_Measurements.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
            	<h4 class="topic-title">11. KNOW YOUR MEASUREMENTS</h4>
          		<p>There is nothing worse than an ill fit wig. You don't want your wig riding up, slipping off or to look misshapen by excess bulk at the crown. This is why choosing the right size is just as important as finding the right color and style.</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'12_Create_Different_Hairstyles.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
            	<h4 class="topic-title">12. CREATE DIFFERENT HAIRSTYLES</h4>
          		<p>If your hair is chin length or longer, try a half-up, half-down style. For longer wigs, try a loose updo or low ponytail.</p>
          		<p>To make these looks work; keep it soft, loose and a little messy. Keep the bangs down (unless you have a lace front wig) and pull down a few tendrils of hair along the hairline to keep it looking natural.</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="{{'13_Go_Curly_or_Straight.jpg' | asset_url }}" /></div>
            <div class="desktop-10 mobile-3">
            	<h4 class="topic-title">13. GO CURLY OR STRAIGHT</h4>
          		<p>A new generation of hair tools, Gold N' Hot curling irons and flat irons allow you to curl or straighten both human hair and synthetic hair! These revolutionary new tools have a special setting specifically for synthetic wigs, hairpieces or hair extensions so you can easily go curly to straight or straight to curly without damaging your wig. A must-have for any wig!</p>
            </div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="https://cdn.shopify.com/s/files/1/1410/9094/files/new-do.jpg?9676429634461040054" /></div>
          	<div class="desktop-10 mobile-3">
          		<h4 class="topic-title">14. TRY A NEW DO</h4>
          		<p>Bored with the same hairstyle? Today's wigs follow current hair trends. As new hair fashions hit the scene, new wig styles become available. Trying a new wig style is an easy way to test drive current hair trends without any commitment, keep your look modern and beat hair boredom. Change up your look from day to day. Don't get suck in a rut.</p>
          		<p>Of course not all hair trends work for everyone, if you are new to wearing wigs we recommend keeping close to your current hairstyle!</p>
          	</div>
          </div>
          <div class="row">
            <div class="topic-image desktop-2 mobile-3"><img src="https://cdn.shopify.com/s/files/1/1410/9094/files/afraid-color.jpg?9676429634461040054" /></div>
          	<div class="desktop-10 mobile-3">
          		<h4 class="topic-title">15. DON'T BE AFRAID OF COLOR</h4>
          		<p>Don't Be Afraid of Color! If you've found a wig you love and don't want to change your style, try a new color to freshen up your look.</p>
          		<p>Most people can wear up to three shades darker or lighter than their natural color. Also, don't be afraid to change your color for the season. It's not uncommon to go slightly lighter in the spring and summer and darker in the fall and winter.</p>
          		<p>Experimenting with color is fun and a easy way to give yourself a completely new look. So go ahead, find out if blondes really do have more fun and be that red head you've always wanted to be. Learn more about choosing color here.</p>
            </div>
          </div>
              <hr>
          <div class="exit">
            <a onclick="toggleTopic('#topic-3','#expert-tips','#sep-3','#sep-4')"><button class="explore-exit-btn">-</button></a>
          </div>
        </div>
      </div>
      <hr id="sep-4" class="seperator-grey">
      <!-- NEW TOPIC: HOW TO PUT ON A WIG -->
      <div id="put-wig" class="topic row">
		<div class="intro-control desktop-4 mobile-3">
        	<a onclick="toggleTopic('#topic-4', '#put-wig','#sep-4','#sep-5')"><button class="explore-btn">+</button></a>
          	<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/HOW_TO_PUT_ON_A_WIG.jpg?2259163645875595575" class="topic-main" />
          	<span style="clear:both;">&nbsp;</span>
        </div>
        <div class="desktop-8 mobile-3 intro-container">
          <h4 class="topic-title">HOW TO PUT ON A WIG</h4>
          <p class="topic-intro">Do you know the proper way to put on a wig? Whether you have long hair or short hair, we'll show you some tips & tricks to keep your wig securely in place. If you are new to wigs, this breezy tutorial will be a big help! Do you have a wig cap? How can you best wear a wig if you have long hair?</p>
        </div>
        <div id="topic-4" class="topic-content desktop-12 mobile-3">
          <h4 class="topic-title">HOW TO PUT ON A WIG VIDEO</h4>
          <div class="video-wrap">
            <div class="videoWrapper">
                <iframe src="https://www.youtube.com/embed/JB0C5liIa1g?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe>
            </div>
          </div>
          <hr>
          <div class="exit">
            <a onclick="toggleTopic('#topic-4','#put-wig','#sep-4','#sep-5')"><button class="explore-exit-btn">-</button></a>
          </div>
        </div>
      </div>
      <hr id="sep-5" class="seperator-grey">
      <!-- NEW TOPIC: RETURN POLICY -->
      <div id="return-policy" class="topic row">
		<div class="intro-control desktop-4 mobile-12">
        	<a onclick="toggleTopic('#topic-5','#return-policy','#sep-5','#sep-6')"><button class="explore-btn">+</button></a>
          	<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/RETURN_POLICY.jpg?16861357886111588698" class="topic-main" />
          	<span style="clear:both;">&nbsp;</span>
        </div>
        <div class="desktop-8 mobile-12 intro-container">
          <h4 class="topic-title">RETURN POLICY</h4>
          <p class="topic-intro">Your satisfaction is our goal. We will gladly accept returns on all eligible products (Altered Packaging or Product, Worn, or Damaged items are not eligible for return).</p>
        </div>
        <div id="topic-5" class="topic-content desktop-12">
          <h4 class="topic-title">RETURN POLICY INFORMATION</h4>
          <p>A return handling fee will be applied for all products returned for refund.</p>
          <p>Once your item is returned, you have two choices:</p>
          <p><span style="font-style:bold">Store Credit</span> - $0 fee if you return your item for store credit to be used for a future order(s).</p>
          <p><span style="font-style:bold">Return for Refund</span> - Handling Fee - $5 for items $100 or less. $10 if your items over $100. $25 for items over $300. We will process your refund within 3 business days from receiving your return. Please keep in mind your bank may have a delay in processing your credit back to your account.</p>
          <hr>
          <div class="exit">
            <a onclick="toggleTopic('#topic-5','#return-policy','#sep-5','#sep-6')"><button class="explore-exit-btn">-</button></a>
          </div>
        </div>
      </div>
      <hr id="sep-6" class="seperator-grey">
      <!-- NEW TOPIC: HOW TO RETURN -->
      <div id="how-return" class="topic row">
		<div class="intro-control desktop-4 mobile-12">
        	<a onclick="toggleTopic('#topic-6', '#how-return','#sep-6','#sep-7')"><button class="explore-btn">+</button></a>
          	<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/HOW_TO_RETURN.jpg?16861357886111588698" class="topic-main" />
          	<span style="clear:both;">&nbsp;</span>
        </div>
        <div class="desktop-8 mobile-12 intro-container">
          <h4 class="topic-title">HOW TO RETURN</h4>
          <p class="topic-intro">Follow the directions below to return a product purchased.</p>
        </div>
        <div id="topic-6" class="topic-content desktop-12">
          <h4 class="topic-title">RETURN DIRECTIONS</h4>
          <p>Repackage your item(s) as received from the manufacturer and include the completed Return Form (included on reverse of packing slip or click to print). Within 30 days please mail to:</p>
          <address>
            Beauty &amp; Hair Returns
            1504 N. Topping Ave.
            Kansas City, MO 64120
          </address>
          <h4 class="topic-title">PRODUCT</h4>
          <p>While a regular gentle shampoo might seem like a good idea, you'll be MUCH better off with a product custom designed to meet the needs of highly processed hair. You'll protect your investment and keep your hair looking terrific. Unlike most wig care products, BeautiMark is it is free of toxic parabens. The BeautiMark Pure Care line, specially formulated for human hair, contains no color-stripping sulfates.</p>
          <p>Expert Tip: If you are new to wearing hair, consider a kit that will outfit you with all that you need. Wigs.com loves the BeautiMark collection formulated specifically for wearable hair and free of parabens.</p>
          <h4 class="topic-title">STYLING</h4>
          <p>One of the greatest benefits of synthetic wigs is that they require very little maintenance and do not have to be restyled after every wash. With synthetic hair you’ll want to steer clear of intense heat -- even a short burst of heat from an oven can cause irreparable fiber damage. If style versatility or daily styling routine is something you enjoy, human hair or heat-friendly synthetic hair is the way to go.</p>
          <p>As different occasions call for different priorities, many of our clients keep both human hair and synthetic hair in their wardrobe. Having backups means you’ll always have hair that is ready to wear.</p>
          <p>Expert Tip: If you fall in love with a human hair or heat-friendly synthetic hair wig consider getting two. You can avoid overtaxing hair by keeping one styled curly and the other one straight.</p>
          <h4 class="topic-title">HYDRATE</h4>
          <p>While you will want to wash your wearable hair as infrequently as possible, it is critical that you hydrate daily with leave-in conditioner. Natural hair is kept hydrated with oils from the scalp. This, of course, does not happen with wigs or hair add-ons. These products will also protect hair prior to any heat styling.</p>
          <h4 class="topic-title">MANIPULATE &amp; FINISH</h4>
          <p>One of the greatest benefits of synthetic wigs is that they require very little maintenance and do not have to be restyled after every wash. With synthetic hair you’ll want to steer clear of intense heat -- even a short burst of heat from an oven can cause irreparable fiber damage. If style versatility or daily styling routine is something you enjoy, human hair or heat-friendly synthetic hair is the way to go.</p>
          <hr>
          <div class="exit">
            <a onclick="toggleTopic('#topic-6','#how-return','#sep-6','#sep-7')"><button class="explore-exit-btn">-</button></a>
          </div>
        </div>
      </div>
      <hr id="sep-7" class="seperator-grey">
      <!-- NEW TOPIC: RETURN POLICY ELIGIBILITY -->
      <div id="return-eligible" class="topic row">
		<div class="intro-control desktop-4 mobile-12">
        	<a onclick="toggleTopic('#topic-7', '#return-eligible','#sep-7','#sep-8')"><button class="explore-btn">+</button></a>
          	<img src="https://cdn.shopify.com/s/files/1/1410/9094/files/RETURN_PRODUCT_ELIGIBILITY.jpg?16861357886111588698" class="topic-main" />
          	<span style="clear:both;">&nbsp;</span>
        </div>
        <div class="desktop-8 mobile-12 intro-container">
          <h4 class="topic-title">RETURN PRODUCT ELIGIBILITY</h4>
          <p class="topic-intro">Wigs.com gladly accepts return of all eligible products.</p>
        </div>
        <div id="topic-7" class="topic-content desktop-12">
          <h4 class="topic-title">ELIGIBILITY REQUIREMENTS</h4>
          <p>Altered Packaging or Product, Worn, or Damaged items are not eligible for return.</p>
          <h4 class="topic-title">ELIGIBLE PRODUCTS</h4>
          <ul>
            <li>In original factory condition (unaltered, unworn, undamaged, containing no odor or signs of wear or styling product).</li>
            <li>Must have tags attached and in original packaging.</li>
            <li>Item(s) must be returned within 30 days of receiving your original order.</li>
          </ul>
          <h4 class="topic-title">INELIGIBLE PRODUCTS</h4>
          <ul>
            <li>Worn or containing any signs of  wear including odor or styling product, Damaged Packaging or Product, Discontinued, Closeout, Last Call items.</li>
            <li>Ineligible products received by Wigs.com will be returned to you at your cost.</li>
          </ul>
          <p>NOTE: We provide a wig cap in each shipment for use when trying the wig on for hygienic purposes. This helps to maintain the product’s eligibility for return. Use it with our compliments. You needn’t return it to us in the event you return any wigs.</p>
          <hr>
          <div class="exit">
            <a onclick="toggleTopic('#topic-7','#return-eligible','#sep-7','#sep-8')"><button class="explore-exit-btn">-</button></a>
          </div>
        </div>
      </div>
      <hr id="sep-8" class="seperator-grey">
    </div>
    <div style="clear:both">&nbsp;</div>
    <div id="guide" class="tab-content">
      <div class="row">
        <div class="desktop-12">
        	<h3 style="text-align: center;">Take our short quiz and we’ll guide you to the right wigs to fit your needs!</h3>
        	<p style="text-align: center;">Ready, set, go to finding your next do and rockin’ a confident you!</p>
          	<!-- <div class="guidelines-product-finder" data-product-finder-id="310" data-product-finder-store-id="437"></div> -->
			<div  class="guidelines-product-finder" data-product-finder-id="391" data-product-finder-store-id="457" ></div>
      	</div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
  	$('.topic-content').hide();
    $('.explore-select').bind('change', function(){
      $('html, body').animate({scrollTop: $($(this).val()).offset().top-30}, 'slow');
      console.log('triggered');
    });
    
    var clicks = 0;
    $('ul.tabs li').click(function(){
      if($(this).is('li.right')){
        if(clicks === 0){
        	$('script[src="//guidelinesapp.eloquentcommerce.com/public/finder.js?shop=wigscom.myshopify.com"]').remove();
          	$('<script>').attr('src', '//guidelinesapp.eloquentcommerce.com/public/finder.js?shop=wigscom.myshopify.com').appendTo('head'); 	
          	clicks++;
          setTimeout(changeLayout, 800);
        }
      }
    	var tab_id = $(this).attr('data-tab');
      	$('ul.tabs li').removeClass('current');
      	$('.tab-content').removeClass('current');
      	$(this).addClass('current');
      	$('#'+tab_id).addClass('current');
    });
  });
  
  function changeLayout(){
  	$('li.pf-step-1').find($('.pf-col-md-12')).each(function(){
         $(this).removeClass('pf-col-md-12').addClass('pf-col-md-3');
    });
  }
  
  function toggleTopic(topic, btntoggle, topsep, bottomsep){
    if($(topic).is(':visible')){
    	$(topic).slideUp("slow");
      	$(btntoggle + ' button.explore-btn').html('+').removeClass('inverse');
      	$(topsep+', '+bottomsep).removeClass('fuschia');
    }else{
    	$(topic).slideDown("slow");
      	$(btntoggle + ' button.explore-btn').html('-').addClass('inverse');
      	$(topsep+','+bottomsep).addClass('fuschia');
    }
  }
</script>